*{
 margin: 0;
 padding: 0;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(vector-pastel-background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}
ul li {
  display: inline-block;
}

ul li a{
  text-decoration: none;
  font-family: Prata;
  font-size: 18px;
  line-height: 1px;
  color: #fff;
  padding: 4px 20px;
  border-radius: 3px;
  border: 1px solid #fff transparent;
}


active,a:hover{
  background: #812059;
  transition: 0.5s;
}
nav{
  background: #384b61;
  height: 55px;
  width: 100%;
}

.background{
height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(vector-pastel-background.jpg);
background-position: center;
background-size: cover;
}

div .card {
  width: 540px;
  height: 540px;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-position: center;
  background-size: cover;
}

.invited{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 70px;
  font-size: 12px;
  color:#6283aa;
  font-weight: bold;
}
.name {
  font-family: 'Parisienne', cursive;
  text-align:center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 55px;
  margin-top: 40px;
  color:#b2435f;
}

.date{
  text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: -1px;

}
#location{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.time{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color:#CC6425;
  font-size: 20px;
}

div .forcard{
  text-align:center;
}

hr{
  border: none;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 0.5px;
  background-color: #EC173A;


}
div .card{
  background: url(birthday3.png) center no-repeat;
  background-color: #f4ede5;
  background-position: center;
  background-size: cover;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
