*{
 margin: 0;
 padding: 0;
}

ul {
  list-style-type: none;
  float: right;
  margin-top: 21px;
  margin-right: 20px;
}

ul li {
  display: inline-block;
}

ul li a{
  text-decoration: none;
  font-family: Prata;
  font-size: 15px;
  line-height: 1px;
  color: #fff;
  padding: 4px 20px;
  border-radius: 3px;
  border: 1px solid #fff tranparent;
}

active,a:hover{
  background: #CC609F;
  transition: 0.5s;
}

nav{
  background: #384b61;
  height: 55px;
  width: 100%;
}

.background{
height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(vector-pastel-background.jpg);
background-position: center;
background-size: cover;
}

div .card {
  width: 538px;
  height: 538px;
  border-radius: 6px;
  background: #fff  ;
  background-image: url(wedding2.png);
  position: absolute;
  top:55%;
  left: 65%;
  transform: translate(-50%,-50%);
}

.title {
 text-align: center;
 margin-top: 55px;
 font-family: Kaushan Script;
 font-size: 16px;
 color: #454546 ;

}

.title02 {
  text-align: center;
  margin-top: 3px;
  font-family: Kaushan Script;
  font-size: 16px;
  color: #454546 ;

}

.name {
 text-align: center;
 margin-top: 5px;
 font-family: Dancing Script;
 font-size: 55px;
 color: #454546 ;
 letter-spacing: 3px;
}

.weddingdate {
  text-align: center;
  margin-top: 5px;
  font-family: Kaushan Script;
  font-size: 20px;
  color: #454546 ;
}

.title03{
  text-align: center;
  margin-top: 10px;
  font-family: Kaushan Script;
  font-size: 16px;
  color: #454546 ;

}
 p#venue{
  text-align: center;
  margin-top: 5px;
  font-family: Kaushan Script;
  font-size: 16px;
  color:  #454546;
}

}

div .design {
  height: 540px;
  width: 540px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top:50%;
  left: 35%;
  transform: translate(-50%,-50%);

}

div .customize {
  width: 300px;
  height: 530px;
  border-radius: 6px;
  background: #CC609F;
  opacity: 83%;
  position: absolute;
  top:55%;
  left: 25%;
  transform: translate(-50%,-50%);
  color: #ffff;
}

 div .title_custom {
  text-align: center;
  margin-top: 10px;
  font-family: Kaushan Script;
  font-size: 20px;
  letter-spacing: 1px;

}

div .content {
line-height: 25px;
text-align: center;
font-size: 15px;
margin: 5px;
font-family: new tegomin;
}
